<!-- inicio: opciones jefeproduccion -->
<ul role="jefeproduccion">
    <li><a href=""><span>Vendedor</span></a></li>
    <li><a th:href="@{/modulos/jefeproduccion/actividad/list}"><span class='icon-clipboard'></span><span>Actividades</span></a></li>
    <li><a th:href="@{/modulos/jefeproduccion/maquina/list}"><span class='icon-clipboard'></span><span>Maquinaria</span></a></li>
    <li><a th:href="@{/modulos/jefeproduccion/ordentrabajo/list}"><span class='icon-clipboard'></span><span>Ordenes de trabajo</span></a></li>
    <li><a th:href="@{/modulos/jefeproduccion/plan/list}"><span class='icon-clipboard'></span><span>Planes de producción</span></a></li>
    <li><a th:href="@{/modulos/jefeproduccion/validateplan/list}"><span class='icon-clipboard'></span><span>Validación de planes</span></a></li>
</ul>
<!-- fin: opciones jefeproduccion -->