<ul>
	<li><a th:href="@{/modules/home}" class="nose"><span class="icon-home"></span><span>Inicio</span></a></li>
	<li><a th:href="@{/production/plan/list}" class="nose"><span class='icon-clipboard'></span><span>Orden de Trabajo</span></a></li>
	<li><a th:href="@{/production/plan/validate/list}" class="nose"><span class='icon-clipboard'></span><span>Validar Orden de trabajo</span></a></li>
	<li><a th:href="@{/production/card/list}" class="nose"><span class='icon-alarm'></span><span>Tarjeta de Horario</span></a></li>
	<li><a th:href="@{/production/formula/list}" class="nose"><span class='icon-flask'></span><span>Formula de Producto</span></a></li>
	<li><a th:href="@{/production/costo/list}" class="nose"><span class='icon-calculator'></span><span>Costos de Produccion</span></a></li>
	<li><a th:href="@{/production/periodo/send/list}" class="nose"><span class='icon-calculator'></span><span>Enviar Costos de Produccion</span></a></li>
	<li><a th:href="@{/production/indicador/list}" class="nose"><span class='icon-stats-dots'></span><span>Consultar Indicadores</span></a></li>
	
	<li><a th:href="@{/production/producto/list}" class="nose"><span class='icon-box'></span><span>Producto</span></a></li>
	<li><a th:href="@{/production/pedido/list}" class="nose"><span class='icon-box'></span><span>Pedido</span></a></li>
	<li><a th:href="@{/production/solicitudformula/list}" class="nose"><span class='icon-box'></span><span>Solicitud de formula</span></a></li>
	<li><a th:href="@{/production/insumo/list}" class="nose"><span class='icon-box'></span><span>Insumo</span></a></li>
	<li><a th:href="@{/production/ordentrabajo/list}" class="nose"><span class='icon-box'></span><span>Consultar asignacion de OT</span></a></li>
	<li><a th:href="@{/production/avance/list}" class="nose"><span class='icon-box'></span><span>Consultar avance de pedido</span></a></li>
	<li><a th:href="@{/production/costos/list}" class="nose"><span class='icon-box'></span><span>Consultar historial de costos</span></a></li>
	<li><a th:href="@{/production/almacen/list}" class="nose"><span class='icon-box'></span><span>Consultar ind. de almacen</span></a></li>
</ul>