<!-- inicio: opciones contabilidad -->
<ul role="contabilidad">
    <li><a th:href="@{/produccion/}"><span class='icon-clipboard'></span><span>Costos estimados</span></a></li>
    <li><a th:href="@{/produccion/}"><span class='icon-clipboard'></span><span>Costos</span></a></li>
    <li><a th:href="@{/produccion/}"><span class='icon-clipboard'></span><span>Enviar costos</span></a></li>
</ul>
<ul role="contabilidad">
    <li><a th:href="@{/produccion/}"><span class='icon-clipboard'></span><span>Avance pedido</span></a></li>
</ul>
<!-- fin: opciones contabilidad -->