<!-- inicio: opciones quimico -->
<ul role="quimico">
    <li><a href=""><span>Químico</span></a></li>
    <li><a th:href="@{/modulos/quimico/solicitudformula/list}"><span class='icon-clipboard'></span><span>Solicitud fórmula</span></a></li>
    <li><a th:href="@{/modulos/quimico/muestra/list}"><span class='icon-clipboard'></span><span>Muestra</span></a></li>
    <li><a th:href="@{/modulos/quimico/formula/list}"><span class='icon-clipboard'></span><span>Fórmula</span></a></li>
    <li><a th:href="@{/modulos/quimico/pruebaproduccion/list}"><span class='icon-clipboard'></span><span>Prueba producción</span></a></li>
    <li><a th:href="@{/modulos/quimico/solicitudinsumo/list}"><span class='icon-clipboard'></span><span>Solicitud insumos</span></a></li>
    <li><a th:href="@{/modulos/quimico/insumo/list}"><span class='icon-clipboard'></span><span>Insumo</span></a></li>
</ul>
<!-- fin: opciones quimico -->
