<!-- inicio: opciones contador -->
<ul role="contador">
    <li><a href=""><span>Contador</span></a></li>
    <li><a th:href="@{/modulos/contador/avancepedido/list}"><span class='icon-clipboard'></span><span>Avance de pedidos</span></a></li>
    <li><a th:href="@{/modulos/contador/costos/list}"><span class='icon-clipboard'></span><span>Costos de producción</span></a></li>
    <li><a th:href="@{/modulos/contador/enviarcostos/list}"><span class='icon-clipboard'></span><span>Enviar costos de prod.</span></a></li>
</ul>
<!-- fin: opciones contador -->
