<!-- inicio: opciones quimico -->
<ul role="quimico">
    <li><a th:href="@{/produccion/solicitudformula/list}"><span class='icon-clipboard'></span><span>Solicitud fórmula</span></a></li>
    <li><a th:href="@{/produccion/muestra/list}"><span class='icon-clipboard'></span><span>Muestra</span></a></li>
    <li><a th:href="@{/produccion/formula/list}"><span class='icon-clipboard'></span><span>Fórmula</span></a></li>
    <li><a th:href="@{/produccion/pruebaproduccion/list}"><span class='icon-clipboard'></span><span>Prueba producción</span></a></li>
</ul>
<ul role="quimico">
    <li><a th:href="@{/produccion/solicitudinsumo/list}"><span class='icon-clipboard'></span><span>Solicitud insumos</span></a></li>
    <li><a th:href="@{/produccion/solicitudinsumo/list}"><span class='icon-clipboard'></span><span>Recepcion insumos</span></a></li>
</ul>
<ul role="quimico">
    <li><a th:href="@{/produccion/solicitudinsumo/list}"><span class='icon-clipboard'></span><span>Insumos sustitutos</span></a></li>
    <li><a th:href="@{/produccion/solicitudinsumo/list}"><span class='icon-clipboard'></span><span>Insumos</span></a></li>
</ul>
<ul role="quimico">
    <li><a th:href="@{/produccion/pruebaproduccion/list}"><span class='icon-clipboard'></span><span>Prueba producción</span></a></li>
</ul>
<!-- fin: opciones quimico -->
