<!-- inicio: opciones produccion -->
<ul role="produccion">
    <li><a th:href="@{/produccion/pedido/list}"><span class='icon-clipboard'></span><span>Pedidos</span></a></li>
    <li><a th:href="@{/produccion/solicitudformula/list}"><span class='icon-clipboard'></span><span>Solicitud fórmula</span></a></li>
    <li><a th:href="@{/produccion/plan/list}"><span class='icon-clipboard'></span><span>Plan producción</span></a></li>
    <li><a th:href="@{/produccion/plan/list}"><span class='icon-clipboard'></span><span>Validar Plan producción</span></a></li>
    <li><a th:href="@{/produccion/ordentrabajo/list}"><span class='icon-clipboard'></span><span>Orden de trabajo</span></a></li>
    <li><a th:href="@{/produccion/}"><span class='icon-clipboard'></span><span>Tarjeta horario (*)</span></a></li>
</ul>
<ul role="produccion">
    <li><a th:href="@{/produccion/}"><span class='icon-clipboard'></span><span>Consultar indicadores (*)</span></a></li>
    <li><a th:href="@{/produccion/}"><span class='icon-clipboard'></span><span>Historial de costos (*)</span></a></li>
</ul>
<ul role="produccion">
    <li><a th:href="@{/produccion/actividad/list}"><span class='icon-clipboard'></span><span>Actividades</span></a></li>
    <li><a th:href="@{/produccion/maquina/list}"><span class='icon-clipboard'></span><span>Maquinaria</span></a></li>
</ul>
<!-- fin: opciones produccion -->