<ul>
	<li><span>Ventas</span></li>
	<li><span>Contabilidad</span></li>
	<li><span>Producción</span></li>
	<li><span>Químico</span></li>
</ul>
<ul>
	<li><span>Operario</span></li>
    <li><span>Almacenero</span></li>
</ul>
<ul>
	<li><span>Seguridad</span></li>
</ul>

<!--
<ul>
	<li><a th:href="@{/modules/home}"><span class="icon-home"></span><span>Inicio</span></a></li>
	<li><a th:href="@{/produccion/plan/list}"><span class='icon-clipboard'></span><span>Orden de Trabajo</span></a></li>
	<li><a th:href="@{/produccion/plan/validate/list}"><span class='icon-clipboard'></span><span>Validar Orden de trabajo</span></a></li>
	<li><a th:href="@{/produccion/parteproduccion/list}"><span class='icon-alarm'></span><span>Parte de produccion</span></a></li>
	<li><a th:href="@{/produccion/formula/list}"><span class='icon-flask'></span><span>Formula de Producto</span></a></li>
	<li><a th:href="@{/produccion/costo/list}"><span class='icon-calculator'></span><span>Costos de Produccion</span></a></li>
	<li><a th:href="@{/produccion/periodo/send/list}"><span class='icon-calculator'></span><span>Enviar Costos de Produccion</span></a></li>
	<li><a th:href="@{/produccion/indicador/list}"><span class='icon-stats-dots'></span><span>Consultar Indicadores</span></a></li>
	<li><a th:href="@{/produccion/producto/list}"><span class='icon-box'></span><span>Producto</span></a></li>
	<li><a th:href="@{/produccion/pedido/list}"><span class='icon-box'></span><span>Pedido</span></a></li>
	<li><a th:href="@{/produccion/solicitudformula/list}"><span class='icon-box'></span><span>Solicitud de formula</span></a></li>
	<li><a th:href="@{/produccion/insumo/list}"><span class='icon-box'></span><span>Insumo</span></a></li>
	<li><a th:href="@{/produccion/ordentrabajo/list}"><span class='icon-box'></span><span>Consultar asignacion de OT</span></a></li>
	<li><a th:href="@{/produccion/avancepedido/list}"><span class='icon-box'></span><span>Consultar avance de pedido</span></a></li>
	<li><a th:href="@{/produccion/costos/list}"><span class='icon-box'></span><span>Consultar historial de costos</span></a></li>
	<li><a th:href="@{/produccion/almacen/list}"><span class='icon-box'></span><span>Consultar ind. de almacen</span></a></li>
</ul>
-->
