<!-- inicio: opciones vendedor -->
<ul role="ventas">
    <li><a href=""><span>Vendedor</span></a></li>
    <li><a th:href="@{/modulos/vendedor/cliente/list}"><span class='icon-clipboard'></span><span>Cliente</span></a></li>
    <li><a th:href="@{/modulos/vendedor/producto/list}"><span class='icon-clipboard'></span><span>Productos</span></a></li>
    <li><a th:href="@{/modulos/vendedor/pedido/list}"><span class='icon-clipboard'></span><span>Pedidos</span></a></li>
</ul>
<!-- fin: opciones vendedor -->