<section class="find">
	<article class="titl">
		<div><a href="#" data-operation="cancelModal"><span class="icon-cross"></span></a></div>
		<div><strong>Busqueda de datos relacionados</strong></div>
	</article>
	<article class="form">
		<section>
			<div>
				<label for="relacion.criterio">Criterio de busqueda</label> 
				<input type="text" id="relacion.criterio" />
			</div>
		</section>
	</article>
	<article class="list">
		<section>
			<table>
				<thead>
					<tr>
						<td><span>Resultado</span></td>
						<td><span>Referencia</span></td>
						<td><span></span></td>
						<td><span></span></td>
					</tr>
				</thead>
				<tbody></tbody>
				<tfoot>
					<tr>
						<td colspan="4"><span>Total de resultados: </span></td>
					</tr>
					<tr>
						<td colspan="4"><a href="#" data-operation="acceptChanges"><span>Aceptar</span></a></td>
					</tr>
				</tfoot>
			</table>
		</section>
	</article>
</section>