<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Home</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" th:href="@{/styles/style.css}" />
    <link rel="stylesheet" th:href="@{/styles/basic.css}" />
    <link rel="stylesheet" th:href="@{/styles/base.css}" />
</head>
<body>
<section class="main">
    <section class="noti" th:include="/common/notification"></section>
    <section class="head" th:include="/common/navigation"></section>
    <section class="moda" th:include="/common/modal"></section>
    <section class="body">
        <section class="menu">
            <article class="quic" th:include="/common/menu"></article>
            <article class="quic" th:include="/common/menu-contabilidad"></article>
            <article class="tool">
                <ul class="acci">
                    <li><span>Opciones</span></li>
                    <li><a href="#" data-operation="grabarDocumento"><span class="icon-floppy-disk"></span><span>Grabar Cliente</span></a></li>
                </ul>
            </article>
        </section>
        <section class="cont">
            <article class="titl">
                <ul class="subt">
                    <li><a href="#"><span class="icon-list-numbered"></span><span> Modulos - Cliente</span></a></li>
                </ul>
            </article>
        </section>
    </section>
</section>
</body>
</html>