<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="_csrf" th:content="${_csrf.token}" />
		<meta name="_csrf_header" th:content="${_csrf.headerName}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<title>Home</title>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" th:href="@{/styles/style.css}" />
		<link rel="stylesheet" th:href="@{/styles/basic.css}" />
		<link rel="stylesheet" th:href="@{/styles/base.css}" />
		<script type="text/javascript" th:src="@{/scripts/vue.min.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/base.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/formCustomer.js}"></script>
	</head>
	<body>
		<section class="main">
			<section class="noti" th:include="/common/notification"></section>
			<section class="head" th:include="/common/navigation"></section>
			<section class="moda" th:include="/common/modal"></section>
			<section class="body">
				<section class="menu">
					<article class="quic" th:include="/common/menu"></article>
					<article class="tool">
						<ul class="acci">
							<li><span>Opciones</span></li>
							<li><a href="#" data-operation="grabarDocumento"><span class="icon-floppy-disk"></span><span>Grabar Cliente</span></a></li>
						</ul>
					</article>
				</section>
				<section class="cont">
					<article class="titl">
						<ul class="subt">
							<li><a href="#"><span class="icon-list-numbered"></span><span> Modulos - Cliente</span></a></li>
						</ul>
					</article>
					<article class="form">
						<section class="mast">
							<h1><strong>Datos del Cliente</strong></h1>
							<form id="customer">
								<div>
									<label for="id">Id</label> 
									<input type="text" name="id" id="id" v-model="id" readonly="readonly" /> 
								</div>
								<div>
									<label for="razonsocial">Razon social</label> 
									<input type="text" name="razonsocial" id="razonsocial" v-model="razonsocial" /> 
								</div>
								<div>
									<label for="ruc">RUC</label> 
									<input type="text" name="ruc" id="ruc" v-model="ruc" /> 
								</div>
								<div>
									<label for="direccion">Direccion</label> 
									<input type="text" name="direccion" id="direccion" v-model="direccion" /> 
								</div>
							</form>
						</section>
					</article>
				</section>
			</section>
		</section>
	</body>
</html>