<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="_csrf" th:content="${_csrf.token}" />
		<meta name="_csrf_header" th:content="${_csrf.headerName}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<title>Home</title>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" th:href="@{/styles/style.css}" />
		<link rel="stylesheet" th:href="@{/styles/jquery-ui.css}"/>
		<link rel="stylesheet" th:href="@{/styles/jquery-ui-timepicker-addon.min.css}"/>
		<link rel="stylesheet" th:href="@{/styles/basic.css}" />
		<link rel="stylesheet" th:href="@{/styles/base.css}" />
		<script type="text/javascript" th:src="@{/scripts/jquery-3.1.0.min.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/jquery.extend.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/jquery-ui.custom.min.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/jquery-ui-timepicker-addon.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/basic.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/modules.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/form.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/formPlan.js}"></script>
	</head>
	<body>
		<section class="main">
			<section class="noti" th:include="/common/notification"></section>
			<section class="head" th:include="/common/navigation"></section>
			<section class="moda" th:include="/common/modal"></section>
			<section class="body">
				<section class="menu">
					<article class="quic" th:include="/common/menu"></article>
					<article class="tool">
						<ul class="acci">
							<li><div>Opciones</div></li>
							<li>
								<a href="#" data-operation="grabarDocumento">
									<span class="icon-floppy-disk"></span><span>Grabar Orden</span>
								</a>
							</li>
							<li>
								<a href="#" data-operation="grabarDetalle">
									<span class="icon-plus"></span><span>Guardar detalle</span>
								</a>
							</li>
						</ul>
					</article>
				</section>
				<section class="cont">
					<article class="titl">
						<ul class="subt">
							<li>
								<a href="#">
									<span class="icon-list-numbered"></span><span> Modulos - Orden de Trabajo</span>
								</a>
							</li>
						</ul>
					</article>
					<article class="form">
						<section class="mast">
							<h1><strong>Datos de la Orden de Trabajo</strong></h1>
							<form>
								<div>
									<input type="hidden" id="plan.id" disabled="disabled" />

									<label for="plan.codigo">Codigo</label>
									<input type="text" id="plan.codigo" />
								</div>
								<div>
									<label for="plan.estado">Estado</label>
									<input type="text" id="plan.estado" disabled="disabled" />

									<label for="plan.fecha">Fecha</label>
									<input type="text" id="plan.fecha" />
								</div>
								<div>
									<label for="plan.pedido">Pedido</label>
									<input type="text" id="plan.pedido" disabled="disabled" data-reference="" />
									<a th:href="@{/production/pedido/action/all}"
									   data-operation="cambiar"
									   data-entity="pedido"
									   data-property="codigo"
									   data-element="plan.pedido"
									   data-title="Busqueda de Pedido">
										<span class="icon-pencil"></span> Cambiar
									</a>
								</div>
							</form>
						</section>
					</article>
					
					
					<article class="form deta">
						<section class="mast">
							<h1><strong>Datos del detalle</strong></h1>
							<form>
								<div>
									<input type="hidden" id="planproducido.id" disabled="disabled" />

									<label for="planproducido.item">Item</label>
									<input type="text" id="planproducido.item" disabled="disabled" />

									<label for="planproducido.horas">Horas trabajadas</label>
									<input type="text" id="planproducido.horas" />
								</div>
								<div>
									<label for="planproducido.total">Total horas</label>
									<input type="text" id="planproducido.total" disabled="disabled" />

									<label for="planproducido.personal">Personal</label>
									<input type="text" id="planproducido.personal" disabled="disabled" data-reference="" />
									<a th:href="@{/production/personal/action/all}"
									   data-operation="cambiar"
									   data-entity="personal"
									   data-property="codigo"
									   data-element="planproducido.personal"
									   data-title="Busqueda de Personal">
										<span class="icon-pencil"></span> Cambiar
									</a>
								</div>
							</form>
						</section>
					</article>
					
					<article class="form list">
						<section>
							<table>
								<caption><strong>Detalle de Orden de Trabajo</strong></caption>
								<thead>
									<tr>
										<th><span>#</span></th>
										<th><span>Personal</span></th>
										<th><span>Horas trabajadas</span></th>
										<th><span>Total</span></th>
										<th class="qopt"><span class="icon-pencil2"></span></th>
										<th class="qopt"><span class="icon-pencil2"></span></th>
									</tr>
								</thead>
								<tbody></tbody>
								<tfoot>
									<tr>
										<td colspan="9"><span>Total de resultados: </span></td>
									</tr>
								</tfoot>
							</table>
						</section>
					</article>
				</section>
				<section class="hidd">
					<a th:href="@{/production/plan/action/save}" id="documentSave"></a>
					<a th:href="@{/production/plan/action/find}" id="documentView"></a>
				</section>
			</section>
		</section>
	</body>
</html>