<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="_csrf" th:content="${_csrf.token}" />
		<meta name="_csrf_header" th:content="${_csrf.headerName}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<title>Home</title>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" th:href="@{/styles/style.css}" />
		<link rel="stylesheet" th:href="@{/styles/jquery-ui.css}"/>
		<link rel="stylesheet" th:href="@{/styles/jquery-ui-timepicker-addon.min.css}"/>
		<link rel="stylesheet" th:href="@{/styles/basic.css}" />
		<link rel="stylesheet" th:href="@{/styles/base.css}" />
		<script type="text/javascript" th:src="@{/scripts/jquery-3.1.0.min.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/jquery.extend.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/jquery-ui.custom.min.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/jquery-ui-timepicker-addon.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/basic.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/modules.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/form.js}"></script>
		<script type="text/javascript" th:src="@{/scripts/formValidatePlan.js}"></script>
	</head>
	<body>
		<section class="main">
			<section class="noti" th:include="/common/notification"></section>
			<section class="head" th:include="/common/navigation"></section>
			<section class="moda" th:include="/common/modal"></section>
			<section class="body">
				<section class="menu">
					<article class="quic" th:include="/common/menu"></article>
					<article class="tool">
						<ul class="acci">
							<li><div>Opciones</div></li>
							<li>
								<a href="#" data-operation="grabarDocumento">
									<span class="icon-floppy-disk"></span><span>Validar</span>
								</a>
							</li>
						</ul>
					</article>
				</section>
				<section class="cont">
					<article class="titl">
						<ul class="subt">
							<li>
								<a href="#">
									<span class="icon-list-numbered"></span><span> Modulos - Orden de Trabajo</span>
								</a>
							</li>
						</ul>
					</article>
					<article class="form">
						<section class="docu">
							<div><strong>Datos de la Orden de Trabajo</strong></div>
							<div> 
								<input type="hidden" id="plan.id" disabled="disabled" />
								 
								<label for="plan.codigo">Codigo</label> 
								<input type="text" id="plan.codigo" disabled="disabled" /> 
							</div>
							<div>
								<label for="plan.estado">Estado</label> 
								<input type="text" id="plan.estado" disabled="disabled" /> 
							
								<label for="plan.fecha">Fecha</label> 
								<input type="text" id="plan.fecha" disabled="disabled" /> 
							</div>
							<div><strong>Datos del Pedido</strong></div>
							<div> 
								<input type="hidden" id="pedido.id" disabled="disabled" />
								 
								<label for="pedido.codigo">Codigo</label> 
								<input type="text" id="pedido.codigo" disabled="disabled" />
								
								<label for="pedido.fecha">Fecha</label> 
								<input type="text" id="pedido.fecha" disabled="disabled" /> 
							</div>
							<div>
								<label for="pedido.cantidad">Cantidad</label> 
								<input type="text" id="pedido.cantidad" disabled="disabled" />
								 
								<input type="hidden" id="producto.id" disabled="disabled" />
							
								<label for="pedido.producto">Producto</label> 
								<input type="text" id="pedido.producto" disabled="disabled" />
							</div>
							<div>
								<label for="pedido.cliente">Cliente</label> 
								<input type="text" id="pedido.cliente" disabled="disabled" />
							</div>
							<div><strong>Datos de la Formula</strong></div>
							<div> 
								<input type="hidden" id="formula.id" disabled="disabled" />
								 
								<label for="formula.codigo">Codigo</label> 
								<input type="text" id="formula.codigo" disabled="disabled" />
								
								<label for="formula.fecha">Fecha</label> 
								<input type="text" id="formula.fecha" disabled="disabled" /> 
							</div>
							<div>
								<label for="formula.nombre">Nombe</label> 
								<input type="text" id="formula.nombre" disabled="disabled" />
							</div>
						</section>
					</article>
					
					<article class="form list">
						<section>
							<table>
								<caption><strong>Detalle de la formula</strong></caption>
								<thead>
									<tr>
										<th><span>#</span></th>
										<th><span>Insumo</span></th>
										<th><span>Cantidad Unitaria</span></th>
										<th><span>Cantidad Total</span></th>
										<th><span>Estado</span></th>
										<th><span>Cantidad cubierta %</span></th>
									</tr>
								</thead>
								<tbody></tbody>
								<tfoot>
									<tr>
										<td colspan="6"><span>Total de resultados: </span></td>
									</tr>
								</tfoot>
							</table>
						</section>
					</article>
				</section>
				<section class="hidd">
					<!-- <a th:href="@{/production/formula/action/save}" id="detailSave"></a> -->
					<a th:href="@{/production/pedido/action/save/details}" id="detailSave"></a>
					<a th:href="@{/production/insumo/action/find}" id="detailReplace"></a>
					<a th:href="@{/production/kardex/action/find/sum}" id="detailValidate"></a>
					<a th:href="@{/production/kardex/action/find}" id="detailCheck"></a>
					<a th:href="@{/production/plan/action/save}" id="documentSave"></a>
					<a th:href="@{/production/plan/action/find}" id="documentView"></a>
					<a th:href="@{/production/plan/action/request/resources}" id="requestResources"></a>
					<a th:href="@{/production/plan/action/state}" id="documentState"></a>
				</section>
			</section>
		</section>
	</body>
</html>