@CHARSET "UTF-8";
*{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	line-height: 1.5em !important;
}
body{
	background-color: #fff;
	color: #000;
	overflow: auto;
}
body.over{
	overflow: hidden;
}
strong{
	font-weight: bold !important;
}
a{
	font-size: inherit;
	font-family: inherit;
	text-decoration: none;
	color: #BEC5AD;
	transition: all 0.6s;
}
a:hover{
	color: #BEC5AD;
}
a.sele{
	color: #BEC5AD;
	text-shadow: 0em 0em 1.0em #F7E7E0;
}
.main{
	width: 100%;
	min-height: 100vh;
	top: 0;
	position: absolute;
}
.main .noti{
	opacity: 0;
	position: fixed;
	z-index: -9999;
	width: 100%;
	height: 100vh;
	background-color: rgba(255,255,255,0.5);
	transition: all .5s;
}
.noti article{
	width: 400px;
	background-color: #ffffff;
	color: #666666;
	margin: 5em auto;
	position: relative;
	box-shadow: 0em 0em 10em 0.1em rgba(0, 0, 0, 0.6);
	opacity: 1;
}
.noti h1{
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 1em;
}
.noti p{
	display: block;
	padding: 1em;
}
.noti p:after{
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;     
	animation: ellipsis steps(4,end) 1.2s infinite;
	content: "\2026";
	width: 0px;
}
.noti a{
	display: block;
	padding: 1em;
	width: 1.5em;
	text-align: center;
	position: absolute;
	top: 0em;
	right: 0;
}
.main .noti.show{
	opacity: 1;
	z-index: 9998;
}
.main .noti.show article{
	animation: notification 0.8s linear;
}
.main .head{
	overflow: hidden;
	background-color: #26A96C;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9999;
}
.head a{
	display: block;
	padding: 1em 1em;
	text-align: center;
	line-height: 1.5em;
}
.head .logo{
	float: left;
}
.head .logo img{
	width: 3em;
	height: 3em;
}
.head .logo a{
	display: block;
	padding: 1em 1em;
}
.head .navi{
	float: right;
}
.head ul{
	list-style: none;
	overflow: hidden;
}
.head ul li{
	float: right;
}
.head ul li a{
	display: block;
	padding: 1em 1em;
}
.main .body{
	overflow: hidden;
	margin-top: 3.5em;
	color: #000;
}
.body .menu{
	width: 250px;
	float: left;
	position: fixed;
}
.menu ul, 
.cont ul{
	display: block;
	list-style: none;
	overflow: hidden;
	transition: all 1s;
	padding: 0.5rem;
}
.body .menu li{
	display: block;
}
.menu .quic a{
	display: block;
	overflow: hidden;
	height: 3.5em;
	width: 3.5em;
	text-align: center;
}
.menu .quic:hover a{
	width: 19em;
	text-align: left;
}
.menu .quic a span{
	padding: 1em;
}
.menu .quic a span:nth-child(1){
	display: block;
	float: left;
}
.menu .quic a span:nth-child(2){
	display: block;
	float: left;
	padding-left: 1.5em;
}
/*.menu .quic a span:first-child{
	display: block;
	float: left;
}
.menu .quic a span{
	display: none;
	float: left;
	line-height: 1.5em;
}
.menu .quic:hover a span:first-child{
	display: none;
	float: left;
}
.menu .quic:hover a span{
	display: block;
	float: left;
}*/
.menu .quic a{
	-webkit-border-start: 0.5em solid transparent;
}
.menu .quic a:hover{
	-webkit-border-start: 0.5em solid white;
}
.menu .quic .sele{
	-webkit-border-start: 0.5em solid #EAF1F9;
	background-color: #124E78;
}
.body .hidd{
	display: none;
}
.body .cont{
	width: calc(100% - 250px);
	float: left;
	margin-left: 250px;
}
@keyframes notification{
	0%{
		margin-top: -100%;
		opacity: 0;
	}
	100%{
		margin-top: 5em;
		opacity: 1;
	}
}
@keyframes ellipsis{
	to{
		width: 1em;    
	}
}
.ui-datepicker-month{
	background-color: white;
	cursor: pointer;
	border-radius: 0px;
}
.ui-datepicker-year{
	background-color: white;
	cursor: pointer;
	border-radius: 0px;
}