@CHARSET "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    line-height: 1.5em !important;
}

body {
    background-color: #fff;
    color: #000;
    overflow: auto;
}

body.over {
    overflow: hidden;
}

strong {
    font-weight: bold !important;
}

a {
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
    color: #BEC5AD;
    transition: all 0.6s;
}

a:hover {
    color: #BEC5AD;
}

a.sele {
    color: #BEC5AD;
    text-shadow: 0em 0em 1.0em #F7E7E0;
}

input {
    font-size: inherit;
    font-family: inherit;
    outline: 0px;
}

input[type="radio"] {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem 0rem;
}

input[type="submit"], input[type="file"] {
    font-family: inherit;
    font-weight: 400;
    background-color: #53B853;
    padding: 0.4rem 0.6rem;
    border: solid 0px #dddddd;
    color: inherit;
    border-radius: 0.3rem 0.3rem;
    box-shadow: 0rem 0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

input[type="text"] {
    min-width: 12rem;
    line-height: 1.5rem;
    padding: 0.5rem 0.5rem;
    border-top: 0px solid #FFF;
    border-left: 0px solid #FFF;
    border-right: 0px solid #FFF;
    border-bottom: 1px dotted #BEBEBE;
    transition: all 1s;
}

input[type="text"]:focus {
    border-bottom: 1px dotted #EA774D;
    background-color: #F7E7E0;
}

input[disabled="disabled"] {
    background-color: whitesmoke;
}

select {
    border: none;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    margin: 0rem;
    padding: 0rem 0.5rem;
    height: 2.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

ul {
    list-style: none;
    padding: 0rem 0rem;
    margin: 0rem 0rem;
    overflow: hidden;
}

ul li {
    display: flex;
}

span[class] + span:not([class]) {
    padding-left: 0rem;
}

table {
    background: #ffffff;
    border-collapse: collapse;
    width: 100%;
    color: #666666;
}

table caption {
    background: #ffffff;
}

table caption strong {
    display: block;
    padding: 1rem 1rem;
    text-align: left;
}

thead {
    text-transform: uppercase;
    /*background-color: #F7E7E0;*/
    background-color: whitesmoke;
}

table thead tr td .subt {
    float: left;
}

table thead tr td .find {
    float: right;
    padding: 0rem 0rem;
    border-left: 1px solid #C7C7C7;
}

table thead tr td .find input {
    border-bottom: 0px solid #FFF;

}

table thead tr th {
    cursor: pointer;
    font-weight: bold;
    overflow: hidden;
}

table thead tr th span {
    display: block;
    padding: 0.5rem 0.5rem;
    float: left;
}

table thead tr td span {
    display: block;
    padding: 0.5rem 0.5rem;
}

.moda table tbody tr {
    cursor: pointer;
}

table tbody tr td {

}

table tbody tr td:last-child {
    text-align: center;
}

table tbody tr:hover td span {
    color: black;
}

table tbody tr td a {
    display: block;
    overflow: hidden;
    text-align: center;
    overflow: hidden;
}

table tbody tr td a span {
    margin: 0rem 0rem;
}

table tbody tr td span {
    display: block;
    margin: 1rem 0.5rem;
    line-height: 1.5rem;
    height: 1.5rem;
    float: left;
}

table tbody tr td .rowo {
    display: inline-block;
}

table tfoot tr td {
    background: #ffffff;
    border-top: 1px solid #C7C7C7;
}

table tfoot tr td span {
    display: block;
    padding: 0.5rem 0.5rem;
}

@media print {
    .main .body .menu {
        display: none;
    }

    .main .head {
        display: none;
    }

    .body {
        margin-top: 0rem;
    }

    .body .cont {
        width: 100%;
        margin-left: 0rem;
    }

    .cont .titl:nth-child(3) {
        display: none;
    }

    .body .menu {
        display: none;
    }

    .body .prin {
        display: block;
    }

}

@keyframes notification {
    0% {
        margin-top: -100%;
        opacity: 0;
    }
    100% {
        margin-top: 5em;
        opacity: 1;
    }
}

@keyframes ellipsis {
    to {
        width: 1em;
    }
}

/*
.ui-datepicker-month{
	background-color: white;
	cursor: pointer;
	border-radius: 0px;
}
.ui-datepicker-year{
	background-color: white;
	cursor: pointer;
	border-radius: 0px;
}*/
